
footer, #contact {
  background-color: #193441;
  text-align: center;
}
#contact img, header img {
  border-radius: 100%;
  margin: 5%;
}
footer li, header li {
  border-right: 1px solid black;
  padding: 0% 5%;
}
footer li:last-child, header li:last-child {
  border-right: none;
}

/*
Header Styles
*/
header {
  background-color: #3E606F;
  text-align: center;
}

/*
Nav Styles
*/
.main_nav {
  display: block;
}
.main_nav ul {
  display: none;
}
.main_nav:hover ul {
  display: block;
}
.icon-menu {
  display: block;
  text-align: right;
  padding: 5% 5% 0% 0%;
  font-size: 3em;
}

/*
Styles specifically for desktop
*/

@media screen and (min-width:760px) {
  .main_nav ul {
    display: block;
  }
  .icon-menu {
    display: none;
  }
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2em;
  }
}
