#contact img, header img {
  border-radius: 100%;
  margin: 5%;
}
.social {
  margin: 5% 0%;
}
.social li {
  font-size: 2.5em;
  margin: 0% 3%;
  display: inline;
}

/*
Header Styles
*/
.hero {
  background-image: url("../imgs/profile_sm.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
}

@media screen and (min-width:526px) {
  .hero {
    background-image: url("../imgs/profile_md.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 630px;
  }
}

@media screen and (min-width:1051px) {
  .hero {
    background-image: url("../imgs/profile_lg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 850px;
  }
}

/*
Nav Styles
*/
.icon-menu {
  display: block;
  width: 100%;
  text-align: left;
  clear: both;
}
.main_nav ul {
  display: none;
}
.main_nav:hover ul, .main_nav:hover li {
  display: block;
  padding: 3% 0%;
}
.icon-menu {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3em;
}
@media screen and (min-width:760px) {
}

/*
About Me Styles
*/

/*#about section img:first-of-type {
  display: inline-block;
  max-width: 100%;
}
#about section img:last-of-type {
  display: inline-block;
  max-width: 100%;
}
#about p {
  display: inline-block;
}*/

/*
Project Template Styles
*/
.project_template {
  display: none;
}

/*
Contact Styles
*/
input, textarea {
  width: 90%;
  display: block;
  margin: 2% auto;

}
input {
  height: 40px;
  font-size: 2em;
}
textarea {
  font-size: 1em;
}
button {
  width: 90%;
  height: 60px;
  margin: 3% 0% 10% 0%;
  border-radius: 5px;
  background-color: #3E606F;
  border-color: #3E606F;
  font-size: 1.5em;
  color: #FCFFF5;
}

/*
Footer Styles
*/
.footer_nav li {
  margin: 5% 0%;
  display: block;
}
